body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  align-items: center;
  height: 80px;
}
.logo-container {
  padding-left: 15px;
}
.nav-items ul {
  display: flex;
}
.nav-items ul li {
  padding-right: 20px;
  list-style: none;
  font-size: 18px;
  color: white;
}
.img_container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.res_container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
}
.thumb_card {
  width: 230px;
  height: 330px;
  background-color: cadetblue;
  border-radius: 0.6rem;
}
.res_name_rating,
.res_add_price,
.res_status_dist {
  display: flex;
  color: white;
  /* font-size: 14px; */
  justify-content: space-between;
  padding: 0 5px;
}
.res_status_dist .status {
  color: rgb(111, 4, 4);
}
p {
  margin: 8px;
}
.res_rating {
  width: 30px;
  height: 20px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumb_card:hover {
  box-shadow: 10px 10px 10px rgb(176, 179, 181);
}

.top_res_btn {
  width: auto;
  background-color: cadetblue;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-left: 23px;
  cursor: pointer;
}

.res_card_menu {
  width: 200px;
  height: 350px;
  display: flex;
  flex-wrap: nowrap;
  background: cadetblue;
  color: white;
}
.res_top_container {
  width: 100%;
}
.res_name_container {
  margin: auto;
  width: 200px;
}
.res_name_container h2 {
  font-size: 30px;
  margin-bottom: 5px;
}
.menu_container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.empty_container {
  width: 200px;
  height: 150px;
}
.dish_description , .res_description h2{
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.res_description {
  padding: 0px 5px 0px 5px;
}
.res_card_menu_container {
  /* padding: 0px 10px 0px 10px; */
  width: 90%;
  margin: auto;
}
